*{padding: 0; margin:0; text-decoration: none; list-style: none; box-sizing: border-box;}

nav {background-color: red; 
height: 80px;
width: 100%;

.enlace {position: absolute;
  padding: 20px 50px ;}

  .logo {height:40px;}

}
s